KEYCLOAK_ISSUER=http://localhost:8080/auth/realms/p2examples
KEYCLOAK_CLIENT_ID=remix
KEYCLOAK_CLIENT_SECRET=remix-local-dev-secret
KEYCLOAK_CALLBACK_URL=http://localhost:3000/auth/keycloak/callback
SESSION_SECRET=
